NEXT_PUBLIC_CHEC_PUBLIC_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_GA_TRACKING_ID=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=
CHEC_API_URL=https://api.chec.io